---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}

      <!-- Faculty Header -->
      <h2>Faculty</h2>
      <div class="row">
        {% for profile in page.profiles %}
          {% if profile.type == 'faculty' %}
            <div class="col-md-12"> <!-- Full-width for each faculty member -->
              <div class="row shadow-box">
                <div class="col-md-4 text-center"> <!-- Profile image on the left -->
                  {% if profile.image %}
                    {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
                    {% if profile.image_circular %}
                      {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                    {% else %}
                      {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                    {% endif %}
                    {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 20vw, 50vw"{% endcapture %}
                    {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
                  {% endif %}
                  {% if profile.more_info %}
                    <div class="more-info">{{ profile.more_info }}</div>
                  {% endif %}
                </div>
                <div class="col-md-8"> <!-- Description on the right -->
                  <div class="clearfix">
                    {% if profile.content %}
                      {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                      {{ profile_content | markdownify }}
                    {% else %}
                      {{ content }}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Students Header -->
      <h2>Current Students</h2>
      <div class="row">
        {% for profile in page.profiles %}
          {% if profile.type == 'student' %}
            <div class="col-md-4">
              <div class="shadow-box text-center">
                
                {% if profile.image %}
                  {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
                  {% if profile.image_circular %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                  {% else %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                  {% endif %}
                  {% capture sizes %}(min-width: {{site.max_width}})  {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 20vw, 50vw"{% endcapture %}
                  {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
                {% endif %}
                <div class="profile-name">{{ profile.name }}</div> <!-- Name at the bottom -->
                <div class="profile-degree">{{ profile.degree }}</div>
                {% if profile.more_info %}
                  <div class="more-info">{{ profile.more_info }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Alumni Header -->
      <h2>Alumni</h2>
      <div class="row">
        {% for profile in page.profiles %}
          {% if profile.type == 'alumni' %}
            <div class="col-md-4">
              <div class="shadow-box text-center">
                
                {% if profile.image %}
                  {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
                  {% if profile.image_circular %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                  {% else %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                  {% endif %}
                  {% capture sizes %}(min-width: {{site.max_width}})  {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 20vw, 50vw"{% endcapture %}
                  {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
                {% endif %}
                <div class="profile-name">{{ profile.name }}</div> <!-- Name at the bottom -->
                <div class="profile-degree">{{ profile.degree }}</div>
                <div class="profile-now">{{ profile.now }}</div>
                {% if profile.more_info %}
                  <div class="more-info">{{ profile.more_info }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

    {% endif %}
  </article>
</div>